body {
    background-color: rgba(224, 224, 210, 0.3);
}
.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    border: 1px solid grey;
    align-items: center;
    background-color: #ffffff;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 800px) { 
    .container {
        width: 100%;
        margin: 0 40px;
    }
}